<head>
	<meta charset="utf-8">
	<title>{{ seo.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/favicon.ico" rel="icon">
    <link rel="stylesheet" href="/assets/screen.css">
		<meta name="description" content="{{lookup seo.description lang}}">
    <meta property="og:url" content="{{ og.url }}">
		<meta property="og:title" content="{{ og.title }}">
		<meta property="og:description" content="{{lookup og.description lang}}">
		<meta property="og:image" content="{{ og.image }}">
</head>
